<!DOCTYPE html>
<html>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
<meta charset="UTF-8"></meta>
<title>Stock price</title>
</head>
<body ng-app="yahooFinance">
	<center><h1>Stock Details</h1></center>
	<div class="container" ng-controller="stockController">
		Company Symbol Name: <input type="text" ng-model="name"/></br>
		<button ng-click="searchStock()"> search</button> </br>
		<p id="errorText">Please provide correct company symbol.</p>
		<ul id="ResponseData" ng-show="shouldShow">
			<li name="Symbol" ng-model="Symbol">Symbol : {{Symbol}}</li>
			<li name="Price" ng-model="Price">Price : {{Price}}</li>
			<li name="Date" ng-model="Date">Date : {{Date}}</li>
			<li name="Time" ng-model="Time">Time : {{Time}}</li>
			<li name="Change" ng-model="Change">Change : {{Change}}</li>
		</ul>
	</div>

<script>
var app = angular.module('yahooFinance', []);

app.controller('stockController', function($scope, $http){
	document.getElementById("ResponseData").style.visibility = "hidden";
	document.getElementById("errorText").style.visibility = "hidden";
	
	$scope.searchStock=function(){
		console.log($scope.name);
		var url= "/v1/finance/company?name=";
		var result = $http.get(url+$scope.name).success(function(data){
			if(data.row.price == "N/A"){
				document.getElementById("errorText").style.visibility = "visible";
				$scope.shouldShow = false;
			}else{
				document.getElementById("errorText").style.visibility = "hidden";
				document.getElementById("ResponseData").style.visibility = "visible";
				$scope.shouldShow = true;
				$scope.Symbol = data.row.symbol;
				$scope.Price = data.row.price;
				$scope.Date = data.row.date;
				$scope.Time = data.row.time;
				$scope.Change = data.row.change;
			}
		});
	};
});

</script>
</body>
</html>